{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechSpace - Online Store for Technology and Electronics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<a href="{% url 'home' %}" class="button">Home</a>
<a href="{% url 'description' %}" class="button">About company</a>
<a href="{% url 'delivery' %}" class="button">Delivery</a>
<a href="{% url 'guarantee' %}" class="button">Guarantee</a>
<a href="{% url 'contacts' %}" class="button">Contacts</a>
<a href="{% url 'view_cart' %}" class="button">Cart</a>



{% for c in cats %}
<p><a href="{% url 'category' c.pk %}">{{ c }}</a></p>
{% endfor %}


{% block main %}
{% for c in cats %}
<p><a href="{% url 'category' c.pk %}">{{ c }}</a></p>
{% endfor %}
{% endblock %}
</body>
</html>