{% extends 'base.html' %}
{% block main %}
<p>
    Dear Clients!!!



We honor your desire to receive the highest quality product for the lowest possible cost and make sure that only the highest quality products are on display in our store.

If you notice a low-quality product in our store, we will be grateful if you let us know by phone 0 312 611 300, 0312 611 333 or through the "Contacts" section

  Almost all products have a one-year warranty with the exception of consumables, mice, keyboards, headphones and similar products.

The warranty period for each individual item should be checked with managers.






Warranty conditions.

1. Warranty service for goods is carried out at the manufacturer’s authorized service center. If there is no corresponding service center, warranty service is provided by the seller.

When the goods are submitted for inspection and testing to the technical department, the client is given an invoice confirming the receipt of the goods.

Warranty products are subject to exchange if repairs are not possible. Repairs are carried out within 5 to 45 working days from the date of acceptance of the goods for warranty service.

2 The product is not subject to exchange or warranty repair in the following cases:

absence of a warranty card, expiration of the warranty period, damage or absence of warranty and identification stickers or other signs confirming the warranty, mechanical damage (chips, cracks, impact marks), with traces of self-repair, damaged stickers/stickers of manufacturers, breakdowns that occurred due to use low-quality components or components that do not meet the technical operating conditions, corrections in the warranty card.

causing damage:

2.7.1. due to improper transportation;

2.7.2. as a result of violation of operating rules or use of the product for other purposes;

2.7.3. as a result of operating the product in conditions not provided for by its technical characteristics (high humidity, high temperature, high vibration, overheating due to heavy dust, mismatch of supply voltages, etc.); and also in the absence of a power protection device, correctly installed: surge protector or UPS - uninterruptible power supply with equipment protection function.

2.7.4. caused by foreign objects, liquids, or insects getting inside the product.

2.7.5. as a result of operating the product in overclocking modes (increasing power): central processor, cooling elements of the motherboard by replacement.

2.7.6 as a result of burnouts on the printed circuit board or chips caused by incorrect connection or incorrect operation.

3 Laptops and other personal portable devices:

3.1. This product is subject to all the conditions of this warranty card and there are several individual conditions set out in clauses 3.2, 3.3, 3.4.

3.2. A replacement or refund of 100% of the monetary value of a faulty product is made only after a conclusion from the service center, if the fault is discovered by the client and provided to the technical department within 3 (three) working days from the date of purchase, with mandatory compliance with clause 4.5.

3.3. Warranty repairs and maintenance of equipment are carried out up to 45 working days from the moment the malfunction is identified by a specialist from the company’s technical department. If the repair period expires, by mutual agreement with the client, the product is replaced or the cost of the product at the time of purchase is credited to the client’s account (this condition does not apply to products provided to the technical department without complying with clause 4.5.).

3.4. If the faulty product was provided to the company’s technical department without complying with clause 4.5. The warranty period depends on how the product is repaired at a service center or by a manufacturer’s representative.

3.5 The warranty period for the power supply included with a laptop or other portable device is 1 (one) month, for the battery 3 (three) months.
</p>
{% endblock %}


