.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff; /* Button background color */
            color: #fff; /* Button text color */
            text-decoration: none; /* Remove default link underline */
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

img {
         width: 200px;
         height: 120px;
         }

.example-div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.low-opacity-text {
    opacity: 0.5; /* Set the opacity value between 0 (fully transparent) and 1 (fully opaque) */
}

.store-select-dropdown{
  width: 50px;
  height: 40px;
}

.crossed-out-price{
  position: relative;
}

.crossed-out-price:before{
  border-bottom: 2px solid red;
  position: absolute;
  content: "";
  width: 92%;
  height: 50%;
  transform: rotate(-9deg);
}

.card-img-top {
  position: relative;
  width: 100%; /* for IE 6 */
}

.product-rating {
position: absolute;
  left: 2%;
  width: 100%;
}

.product-discount {
  position: absolute;
  background-color: #FF0000;
  border-radius: 12px;
  width:31%;
  top: 45%;
  left: 3%;
}

.detail-product-discount {
  position: absolute;
  background-color: #FF0000;
  border-radius: 12px;
  font-size:16px;
}

.stars{
  background-color: inherit;
  color: #ECD229;
  border: 0;
}

.subcategories{
  background-color: #f2f5f9;
}

.card-width{
  width: 184px;
}

.product-image{
  height:200px;
}

.single-product-description{
  background-color:#EFF7FF;
  border-radius:15px;
}

.single-product-description-textarea{
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.single-product-discount-percentage{
  width:68%;
  height:100%
}

.single-product-specification-name{
  width:50%;
}

.single-product-specification-value{
  width:45%;
  color:#347cff;
}

.single-product-specification-hr{
  width:97%;
}

.basket-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.basket-btn{
    position: relative;
}

.basket-btn:hover, .basket-btn:focus, .basket-btn:active, .basket-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}

.base-body-div{
  background: rgb(54,230,104);
  background: linear-gradient(90deg, rgba(54,230,104,1) 0%, rgba(10,228,182,1) 100%);
}
#main-div{
  border-radius:44px 44px 0px 0px;
  background-color:white;
}
/* Bootstrap Over-ride */
@media (min-width: 1000px){
  .container{
      max-width: 1000px;
  }
}

@media (max-width: 1200px){
  .container{
      max-width: 100%;
      padding:0 24px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu{
  top:58px;
  left:0px;
  padding:10px;
}

.alert-primary{
  background-color: #E4F1FF;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html, body, p, div{
    font-family: 'Source Sans Pro', sans-serif;
}

.fs12{
    font-size: 12px;
}

.fs15{
    font-size: 15px;
}

.fs45{
    font-size: 45px;

}
.fw300{
    font-weight: 300;
}

.fw500{
    font-weight: 500;
}

/* Basket Menu */
.basket-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.basket-btn{
    position: relative;
}

.basket-btn:hover, .basket-btn:focus, .basket-btn:active, .basket-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}

.gradient-line{
  background: linear-gradient(to right, transparent 50%, #fff 50%),
  linear-gradient(to right, blue, red);background-size: 16px 2px, 100% 2px;
}

/* Footer */
.footer > div > div > ul > li{
    padding-bottom:8px;
}